<!-- Toolbar -->
<h3>Figuras UD</h3>

<div class="alert alert-light" role="alert">
  Selecciona la figura que deseas graficar, luego digíta los datos solicitados para ver el resultado en pantalla
</div>

<h4>Figura</h4>
<div class="alert alert-light" role="alert">
  <div class="container">
    <div class="row">
      <div class="col-3">        
        <a data-toggle="modal" data-target="#formModal" (click)="llenarDatos('square')">
          <div [ngClass]="{'active': figura.name == 'square' ? true : false}" class="square"></div>
        </a>
      </div>
      <div class="col-3">
        <a data-toggle="modal" data-target="#formModal" (click)="llenarDatos('triangle')">
          <div class="triangle" [ngClass]="{'activeTriangle': figura.name == 'triangle' ? true : false}" ></div>
        </a>
      </div> 
      <div class="col-3">
        <a data-toggle="modal" data-target="#formModal" (click)="llenarDatos('circle')">
          <div [ngClass]="{'active': figura.name == 'circle' ? true : false}" class="circle"></div>
        </a>
      </div>
      <div class="col-3">
        <a data-toggle="modal" data-target="#formModal" (click)="llenarDatos('rectangle')">
          <div [ngClass]="{'active': figura.name == 'rectangle' ? true : false}" class="rectangle"></div>
        </a>
      </div>
    </div>  
  </div>
</div>



<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">{{figura.name | capitalizado}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
              #datos="ngForm">
          <div class="form-group">
            <!-- Rectangulo -->
            <div class="row" *ngIf="figura.name == 'rectangle'">
              <div class="col-2">
                <label class="col-form-label">Alto:</label>
              </div>             
              <div class="col-md-4 col-sm-12">
                <input type="number" class="form-control" [(ngModel)]="figura.height" name="height">  
              </div>
              <div class="col-2">
                <label class="col-form-label">Ancho:</label>
              </div>
              <div class="col-md-4 col-sm-12">
                <input type="number" class="form-control" [(ngModel)]="figura.base" name="base">               
              </div>
            </div>
            <!-- square -->
            <div class="row" *ngIf="figura.name == 'square'">
              <div class="col-2">
                <label class="col-form-label">Lado:</label>
              </div>             
              <div class="col-md-4 col-sm-12">
                <input type="number" class="form-control" [(ngModel)]="figura.base" name="base">                
              </div>              
            </div>     
            <!-- Tirangulo -->
            <div class="row" *ngIf="figura.name == 'triangle'">
              <div class="col-2">
                <label class="col-form-label">Base:</label>
              </div>             
              <div class="col-md-4 col-sm-12">
                <input type="number" class="form-control" [(ngModel)]="figura.base" name="base">                
              </div>              
              <div class="col-2">
                <label class="col-form-label">Altura:</label>
              </div>             
              <div class="col-md-4 col-sm-12">
                <input type="number" class="form-control" [(ngModel)]="figura.height" name="height">                
              </div>              
            </div>           
            <!-- Circulo -->
            <div class="row" *ngIf="figura.name == 'circle'">
              <div class="col-2">
                <label class="col-form-label">Radio:</label>
              </div>             
              <div class="col-md-4 col-sm-12">
                <input type="number" class="form-control" [(ngModel)]="figura.base" name="base">                
              </div>              
            </div>
          </div>         
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="onSubmit(datos)" data-dismiss="modal">Dibujar</button>
          </div>
        </form>
      </div>      
    </div>
  </div>
</div>

<div class="alert alert-light result">
  <div class="row" *ngIf="figura.area">
    <div class="col" *ngIf="figura.name != 'circle'">base: {{figura.base}}</div>
    <div class="col" *ngIf="figura.name != 'circle'">altura: {{figura.height}}</div>
    <div class="col" *ngIf="figura.name == 'circle'">radio: {{figura.base}}</div>
    <div class="col">area:{{figura.area}}</div>
    <div class="col">diametro: {{figura.diameter}}</div>
    <div class="col" *ngIf="figura.name == 'triangle'">hipotenusa:{{figura.hypotenuse}}</div>
  </div>  
  <br>
  <hr>
  <br>
  <div
      [ngClass]="figura.name" class="figura"
      [style.width] = "figura.name != 'triangle' ? anchoFigura : '0px'"
      [style.height] = "figura.name != 'triangle' ? altoFigura : '0px'"
      [style.border-top] = "figura.name != 'triangle' ? '0px solid transparent' : altoFigura + ' solid transparent'" 
      [style.border-bottom] = "figura.name != 'triangle' ? '0px solid transparent' : altoFigura + ' solid blue'"           
      [style.border-right] = "figura.name != 'triangle' ? '0px solid transparent' : anchoFigura + ' solid transparent'"
      [style.border-left] = "figura.name != 'triangle' ? '0px solid transparent' : anchoFigura + ' solid blue'"
      >
    
  </div>
</div>
