#background-content{
  background: #f2ecd9;
}

.toolbar-background{
  background: var(--ion-color-primary);
}

.help{
  display: flex;
  justify-content: space-between;
  ion-icon{
    font-size: 6rem;
    width: 6rem;
  }
}

  .figures{
    display: flex;
    justify-content: space-between;
    // flex-direction: row;
    .figure{

      margin: 1px;
      width: 100%;
      height: 3rem;
      fill: #d7d8da;
      stroke: #d7d8da;
      &.active{
          fill: var(--ion-color-tertiary);
          stroke: var(--ion-color-tertiary);
      }
    }
    h6{
      text-align: center;
    }
  }

  .card-canvas {
    .data {
      display: flex;
      justify-content: space-between;
    }
    .canvas {
      background: white;
      width: 100%;
      height: 20rem;
      border-radius: 4px;
      border: dashed 1px gray;
      fill: var(--ion-color-tertiary);
      stroke: var(--ion-color-tertiary);
    }
  }