<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Figuras UD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Figuras UD</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" padding>

    <ion-card>

      <ion-card-content class="help">
        <ion-icon name="help-circle-outline"></ion-icon>
        <p>Seleccione la figura que desea graficar y luego digita los datos solicitados para ver el resultado en
          pantalla</p>

      </ion-card-content>
    </ion-card>

    <h4>Figura</h4>

    <ion-card>
      <ion-card-content class="figuras">

        <div (click)="setType(TYPE_CIRCLE)">
          <svg #circle class="figura circulo"></svg>
          <h6>Circulo</h6>
        </div>
        <div (click)="setType(TYPE_SQUARE)">
          <svg #square class="figura cuadrado"></svg>
          <h6>Cuadrado</h6>
        </div>
        <div (click)="setType(TYPE_TRIANGLE)">
          <svg #triangle class="figura triangulo"></svg>
          <h6>Triangulo</h6>
        </div>
        <div (click)="setType(TYPE_RECT)">
          <svg #rect class="figura rectangulo"></svg>
          <h6>Rectangulo</h6>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" color="primary" (click)="openModal()">
      Dibujar
    </ion-button>

    <ion-card class="card-canvas">
      <ion-card-content>
        <div class="data">
          <span>Área: {{area}}</span>
          <span>Perimetro: {{perimetro}}</span>
        </div>
        <svg #canvas class="canvas"></svg>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>