<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Figuras UD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Figuras UD</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" padding>

    <ion-card>

      <ion-card-content class="help">
        <ion-icon name="help-circle-outline"></ion-icon>
        <p>Seleccione la figura que desea graficar y luego digita los datos solicitados para ver el resultado en
          pantalla</p>

      </ion-card-content>
    </ion-card>

    <h4>Figura</h4>

    <ion-card>
      <ion-card-content class="figures">
        <div (click)="setType(types.TYPE_CIRCLE)">
          <svg #circle class="figure circle" [ngClass]="{'active': type === types.TYPE_CIRCLE}" id="circle"></svg>
          <h6>Circulo</h6>
        </div>
        <div (click)="setType(types.TYPE_SQUARE)">
          <svg #square class="figure square" [ngClass]="{'active': type === types.TYPE_SQUARE}"></svg>
          <h6>Cuadrado</h6>
        </div>
        <div (click)="setType(types.TYPE_TRIANGLE)">
          <svg #triangle class="figure triangle" [ngClass]="{'active': type === types.TYPE_TRIANGLE}"></svg>
          <h6>Triangulo</h6>
        </div>
        <div (click)="setType(types.TYPE_RECT)">
          <svg #rect class="figure rect" [ngClass]="{'active': type === types.TYPE_RECT}"></svg>
          <h6>Rectangulo</h6>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="card-canvas">
      <ion-card-content>
        <div class="data">
          <span>Área: {{area}}</span>
          <span>Perimetro: {{perimeter}}</span>
        </div>
        <svg #canvas class="canvas"></svg>
        <div class="data">
          <span>Escala 1:{{scale}}</span>
        </div>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>